/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Estilos del encabezado */
header {
    background-color: #703F33;
    color: #fff;
    padding: 20px 0;
    display: flex;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
    flex-wrap: wrap; /* Permitir envolver elementos en pantallas pequeñas */
    text-align: center;
}

header h1 {
    font-size: 24px;
    text-align: center;
    margin: 10px; /* Añadir margen para separar del botón en pantallas pequeñas */
}

header button {
    border: none;
    outline: none;
    cursor: pointer;
    background-color: transparent;
    color: white;
    font-size: 18px;
    transition: all .3s ease;
    margin-left: 3px;
}

/* Estilos del contenedor del formulario */
.form-container {
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilos del formulario */
form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin: 10px 0;
    text-align: left;
}

.form-group label {
    font-weight: bold;
    color: #703F33;
}

.form-group input,
.form-group textarea,
.form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-group select:hover,
.form-group select:focus {
    border-color: #703F33;
}

button {
    background-color: #703F33;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 10px;
}

button:hover {
    background-color: #964c3c; /* Cambia el color al pasar el cursor */
}

/* Media query para pantallas más pequeñas */
@media screen and (max-width: 600px) {
    header h1 {
        font-size: 20px;
    }

    header button {
        margin-left: 0;
        margin-top: 10px;
    }
}
