/* Estilos generales */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

/* Fuente de Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Cursive&display=swap');

header {
    background-color: #703F33;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

header h1 {
    font-family: 'Cursive', cursive;
    font-size: 36px;
    margin: 0;
}

nav {
    background-color: #964c3c;
    padding: 10px 0;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
}

nav ul li a:hover {
    color: #f5f5f5;
}

.banner img {
    width: 100%;
    height: 600px;
    display: block;
}

.menu {
    padding: 20px;
    background-image: url('../img/fondo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.menu h2 {
    text-align: center;
    font-size: 28px;
    color: #703F33;
}

.menu ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}

.menu li {
    width: 30%;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    margin: 15px;
    padding: 15px;
    text-align: center;
}

.menu button:hover {
    background-color: #964c3c;
}

.menu h3 {
    font-size: 20px;
    color: #703F33;
}

.menu p {
    font-size: 16px;
    color: #555;
    margin: 10px 0;
}

.menu span {
    font-size: 18px;
    color: #703F33;
    font-weight: bold;
}

/* Estilos para los botones de la barra lateral */
button {
    border: none;
    outline: none;
    padding: 10px 20px;
    color: white;
    background-color: #703f33;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

/* Ajustar las imágenes dentro de menú */
.menu img {
    width: 100%;
    height: 50%;
}

.about {
    background-color: #fff;
    padding: 20px;
}

.about h2 {
    text-align: center;
    font-size: 28px;
    color: #703F33;
}

.about p {
    text-align: center;
    font-size: 16px;
    color: #555;
    line-height: 1.5;
}

.contact {
    background-color: #703F33;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.contact h2 {
    font-size: 28px;
}

address {
    font-size: 16px;
    line-height: 1.5;
}

/* Estilos de pie de página */
footer {
    background-color: #703F33;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    font-size: 14px;
}

/* Ajuste para tamaños pequeños */
@media only screen and (max-width: 768px) {
    .menu li {
        width: 100%;
    }
}
