/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Estilos del formulario de inicio de sesión */
.login-container {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 400px; /* Establecer un ancho máximo para el formulario */
    width: 100%; /* Hacer que el formulario ocupe el 100% del ancho disponible */
}

.login-container h2 {
    font-size: 24px;
    color: #703F33;
}

.login-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-container {
    margin: 10px 0;
    text-align: left;
}

.input-container label {
    display: block;
    font-weight: bold;
    color: #703F33;
}

.input-container input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; /* Evitar que el ancho del input se amplíe con el padding */
}

button {
    background-color: #703F33;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 10px;
    transition: background-color 0.3s ease; /* Agregar transición para un cambio de color suave */
}

button:hover {
    background-color: #964c3c;
}
