/* Estilos generales */
* {
    text-align: center;
}

body {
    text-align: center;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Estilos del encabezado */
header {
    background-color: #703F33;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

header h1 {
    font-size: 24px;
}

header nav ul {
    list-style: none;
}

header nav ul li {
    display: inline;
    margin-right: 20px;
}

header nav ul li a {
    text-decoration: none;
    color: #fff;
}

/* Estilos del contenido */
.content {
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilos de la tabla */
table {
    width: 100%;
    border-collapse: collapse;
}

table th,
table td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

table th {
    background-color: #703F33;
    color: #fff;
}

table tr:nth-child(even) {
    background-color: #f2f2f2;
}

button {
    background-color: #703F33;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    margin-right: 5px;
}

button:hover {
    background-color: #964c3c; /* Cambia el color al pasar el cursor */
}

img {
    width: 100%;
    max-width: 100px; /* Ajustar el tamaño máximo de la imagen */
    height: auto;
}

/* Media query para pantallas más pequeñas */
@media screen and (max-width: 600px) {
    header h1 {
        font-size: 20px;
    }

    header nav ul li {
        margin-right: 10px;
    }

    table th,
    table td {
        padding: 8px;
    }

    button {
        padding: 4px 8px;
    }
}
